.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 24px;
   margin-bottom: 24px;
}

.header_logo {
   font-size: 32px;
   font-weight: bold;
}

.header_menu {
   display: flex;
   gap: 24px;
}

.header_menu_link {
   text-decoration: none;
   font-size: 16px;
   color: #000;
}

.header_input {
   background-color: #F0F0F0;
   border: none;
   padding: 16px 25px;
   border-radius: 62px;
   width: 40%;
}

.header_icons {
   display: flex;
   gap: 14px;
}

.hero {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 60px 0;
   gap: 40px;


}

.hero_content {
   max-width: 600px;
}

.hero_title {
   font-size: 68px;
   font-weight: 1000;
   line-height: 1;
   margin-bottom: 20px;
   margin-left: 65px;
   display: inline-block;
   transform: scaleY(0.9);
   transform-origin: center;
   letter-spacing: -3px;
}

.hero_text {
   font-size: 16px;
   color: #6b6b6b;
   margin-bottom: 30px;
   margin-left: 65px;
   font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.hero_btn {
   background: black;
   color: white;
   border: none;
   padding: 14px 28px;
   border-radius: 30px;
   font-size: 16px;
   cursor: pointer;
   margin-bottom: 40px;
   margin-left: 65px;
   width: 310;
   height: 102;
   font-family: Noto Sans, sans-serif;
}

.hero_stats {
   display: flex;
   gap: 40px;
   margin-left: 65px;
   font-family: Noto Sans, sans-serif;
   transform: scaleX(0.9);
   transform: scaleY(0.8);
}



.hero_stats h2 {
   font-size: 24px;
   margin-bottom: 5px;
}

.hero_stats p {
   font-size: 14px;
   color: #777;
}

.hero_image img {
   width: 800px;

}


.hero {
   background: url('../img/b26fea69ccfd8aa5825862cdb9604a4fb4930464.jpg') no-repeat right center;
   background-size: contain;

   padding: 80px 0;
   min-height: 500px;
   background-color: #f1f1f1;
}